:root{
    --primary-color:#eee4e4;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#3c3c3c;
    --main-color:#51644D;
}

.fadeIn{
    animation: fadeIn 600ms 0s ease ;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.fadeUp {
    animation-name:fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
        transform: translateY(100px);
      }
    
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

.fadeRight {
        animation-name:fadeRightAnime;
        animation-duration:0.5s;
        animation-fill-mode:forwards;
        opacity: 0;
        }
        
        @keyframes fadeRightAnime{
          from {
            opacity: 0;
            transform: translateX(-100px);
          }
        
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
    

  /* btn----------- */
  .btnarrow{
    position: relative;
    border: 1px solid var(--black-color);
    text-decoration: none;
    color: var(--text-color);
    /* outline: none; */
    transition: all .2s linear;
}


  .btnarrow:hover{
    background:var(--black-color);
    color:#fff;
  }
  
  .btnarrow::before{
    content:"";
    position: absolute;
    top:50%;
    right:-26px;
    width:40px;
    height:1px;
    background:var(--black-color);
      transition: all .2s linear;
  }
  
  .btnarrow::after{
    content:"";
    position: absolute;
      top: 20%;
      right: -21px;
    width:1px;
    height:12px;
    background:var(--black-color);
      transform:skewX(45deg);
      transition: all .2s linear;
  }
  
  .btnarrow:hover::before{
    right:-30px;
  }
  
  .btnarrow:hover::after{
    right:-25px;
  }
  

  
